/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Karla:wght@400;700&family=Merriweather&family=Reenie+Beanie&display=swap');
@font-face {
    font-family: AlteHaasGroteskBold;
    src: url(../fonts/AlteHaasGroteskBold.ttf);
}
@font-face {
    font-family: AlteHaasGroteskRegular;
    src: url(../fonts/AlteHaasGroteskRegular.ttf);
}
@font-face {
    font-family: HeyTinyBold;
    src: url(../fonts/HeyTinyBold.ttf);
}
@font-face {
    font-family: HeyTinyThin;
    src: url(../fonts/HeyTinyThin.ttf);
}

/* General */
body {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center; 
    background-color: black;
}
p {
    font-family: 'Karla', sans-serif;
    color: white;
    text-align: justify;
}
h3 {
    color: white;
    font-size: 28px;
    font-family: AlteHaasGroteskBold;
}
.container {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
}
.opacity {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: black;
    opacity: 30%;
}

/* Menu */
.menu {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0px;
    display: flex;
}
.title {
    font-family: 'Karla', 'Merriweather', serif;
    margin-left: 20px;
    font-size: 30px;
    margin-right: 25px;
    text-decoration: none;
    margin: auto;
    color: #E8302A;
    font-weight: bold;
}
.menu_tab {
    text-decoration: none;
    font-size: 32px;
    font-family: 'Reenie Beanie', 'HeyTinyBold', 'Karla', sans-serif;
    margin: auto;
    color: #E8302A;
    font-weight: bold;
}
.menu_tab_home {
    text-decoration: none;
    font-size: 32px;
    font-family: 'Reenie Beanie', 'HeyTinyBold', 'Karla', sans-serif;
    margin: auto;
    color: #E8302A;
    font-weight: bold;
}
.menu_tab:hover {
    margin: auto;
    color: black;
}
.menu_tab_home:hover {
    margin: auto;
    color: white;
}

/* Bottom */
.bottom_container {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
}
.bottom {
    position: absolute;
    bottom: 0px;
    text-decoration: none;
    width: 100%;
    display: flex;
    padding-bottom: 15px;
}
.credits{
    float: left;
    margin-left: 20px;
}
.vida{
    position: relative;
    float: right;
    height: 40px;
    margin: auto;
    margin-right: 25px;
}
.credits_txt {
    margin: 0px;
    font-size: 12px;
}

/* Home */
#home {
    background-image: url('../res/home_bkg.jpg');
    overflow-x: hidden;
    overflow-y: hidden;
}
.add_container {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
}
.add {
    position: absolute;
    bottom: 0px;
    text-decoration: none;
    width: 100%;
    margin-bottom: 17%;
}
.add_title {
    size: 50px;
    color: white;
    font-family: 'Reenie Beanie', 'Karla', sans-serif;
    font-size: 35px;
    margin: auto;
    text-align: center;
}
.add_title:hover {
    color: #E8302A;
}

/* Sobre el projecte */
#projecte {
    background-image: url('../res/projecte.jpg');
    overflow-x: hidden;
    overflow-y: hidden;
}
#projecte_info {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 25%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
}

/* Concerts */
#concerts {
    background-image: url('../res/concerts.jpg');
    overflow-x: hidden;
    overflow-y: hidden;
}
#concerts_info {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: center;
}
.concert {
    display: flex;
    width: fit-content;
}
.concert_txt {
    font-size: 20px;
    margin: 10px;
}
.ticket_buy {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
    font-family: AlteHaasGroteskBold;
    color: white;
}
.ticket_sold {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    opacity: 70%;
}