/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Karla:wght@400;700&family=Merriweather&family=Reenie+Beanie&display=swap');
@font-face {
    font-family: AlteHaasGroteskBold;
    src: url(../fonts/AlteHaasGroteskBold.ttf);
}
@font-face {
    font-family: AlteHaasGroteskRegular;
    src: url(../fonts/AlteHaasGroteskRegular.ttf);
}
@font-face {
    font-family: HeyTinyBold;
    src: url(../fonts/HeyTinyBold.ttf);
}
@font-face {
    font-family: HeyTinyThin;
    src: url(../fonts/HeyTinyThin.ttf);
}

/* General */

body {
    background-color: #FEFEF6;
}

.page {
    width: 100%;
    height: 100%;
    margin-top: 10%;
}
.columns {
    display: flex;
    height: fit-content;
    margin: auto;
}
.column2 {
    width: 50%;
}
.main_img {
    width: 200px;
}
p {
    font-family: 'AlteHaasGroteskRegular', 'Karla', sans-serif;
    font-size: 20px;
}

.subtitle {
    font-family: 'AlteHaasGroteskBold','Karla', sans-serif;
    color: #305B2C;
    margin-top: 5px;
    margin-bottom: 25px;
}

/* Bottom bar */
.socialmedia {
    display: flex;
    width: fit-content;
    margin: auto;
}

.bottom_container {
    width: 95%;
    height: 90%;
    position: absolute;
    margin: auto;
    margin-top: 10%;
}

.bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.instagrambtn {
    margin-left: 10px;
    margin-right: 10px;
    background: url("../res/instagram_green.png") no-repeat;
    width: 50px;
}
.instagrambtn:hover{
    background: url("../res/instagram_red.png") no-repeat;
}
.twitterbtn {
    margin-left: 10px;
    margin-right: 10px;
    background: url("../res/twitter_green.png") no-repeat;
    width: 50px;
}
.twitterbtn:hover{
    background: url("../res/twitter_red.png") no-repeat;
}
.spotifybtn {
    margin-left: 10px;
    margin-right: 10px;
    background: url("../res/spotify_green.png") no-repeat;
    width: 50px;
}
.spotifybtn:hover{
    background: url("../res/spotify_red.png") no-repeat;
}
.applebtn {
    margin-left: 10px;
    margin-right: 10px;
    background: url("../res/apple_green.png") no-repeat;
    width: 50px;
}
.applebtn:hover{
    background: url("../res/apple_red.png") no-repeat;
}
.amazonbtn {
    margin-left: 10px;
    margin-right: 10px;
    background: url("../res/prime_green.png") no-repeat;
    width: 50px;
}
.amazonbtn:hover{
    background: url("../res/prime_red.png") no-repeat;
}
.youtubebtn {
    margin-left: 10px;
    margin-right: 10px;
    background: url("../res/youtube_green.png") no-repeat;
    width: 50px;
}
.youtubebtn:hover{
    background: url("../res/youtube_red.png") no-repeat;
}

/* Menu */
.menu {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0px;
    display: flex;
}

.title {
    font-family: 'Din Condensed', 'Merriweather', serif;
    margin-left: 20px;
    font-size: 30px;
    margin-right: 25px;
    text-decoration: none;
    margin: auto;
    color: #E8302A;
}

.menu_tab {
    text-decoration: none;
    font-size: 32px;
    font-family: 'Reenie Beanie', 'HeyTinyBold', 'Karla', sans-serif;
    margin: auto;
    color: #E8302A;
    font-weight: bold;
}

.menu_tab_home {
    text-decoration: none;
    font-size: 32px;
    font-family: 'Reenie Beanie', 'HeyTinyBold', 'Karla', sans-serif;
    margin: auto;
    color: #E8302A;
    font-weight: bold;
}

.menu_tab:hover {
    margin: auto;
    color: black;
}

.menu_tab_home:hover {
    margin: auto;
    color: white;
}


/* Inici */
.home {
    width: 100%;
    background-image: url('../res/home_bkg.jpg');
    background-size: 100%;
}

.add_container {
    width: 100%;
    height: 80%;
    position: absolute;
    margin: auto;
    margin-top: 10%;
}

.add {
    position: absolute;
    bottom: 0px;
    margin-bottom: 70px;
    padding: 30px;
    padding-right: 80px;
    text-decoration: none;
    width: 95%;;
}

.add_title {
    size: 50px;
    color: white;
    font-family: 'Reenie Beanie', 'HeyTinyBold', 'Karla', sans-serif;
    font-size: 35px;
    margin: auto;
    text-align: center;
}

.add_title:hover {
    color: #E8302A;
}

.add_subtitle {
    size: 40px;
    color: white;
}

/* Sobr el projecte */
.sobrelprojecte {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
}
.sobrelprojecteinfo {
    height: fit-content;
    margin-top: 15%;
    margin-left: 50px;
}

/* Concerts */
.concerts {
    width: fit-content;
    margin: auto;
}

.date {
    margin-right: 20px;
}

.concert_name {
    margin-right: 20px;
}

.buy_tickets {
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin: auto;
    font-size: 20px;
    font-family: 'AlteHaasGroteskRegular', 'Karla', sans-serif;
}

.sold_out {
    font-weight: bold;
    color: black;
    opacity: 50%;
}

.free {
    font-weight: bold;
    color: black;
}

/* Lletres */
.album_container {
    width: 100%;
}

.album_title {
    font-family: 'Karla', sans-serif;
    color: #305B2C;
    margin-bottom: 25px;
    font-size: 22px;
    margin-top: 50px;
    width: 100%;
}

.song {
    display: flex;
    height: fit-content;
    width: 100%;
    padding-left: 10px;
}

#lletres {
    width: 80%;
    margin: auto;
    margin-top: 10%;
}

.pdfimage {
    height: 30px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.pdftxt {
    margin: auto;
}

/* Contacte */
#contacte {
    width: fit-content;
}

.contactTtl {
    font-weight: bold;
    color: #305B2C;
    margin-right: 10px;
}

.contactTxt {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    color: black;
    margin: auto;
}